*{
    padding: 0%;
    margin: 0%;
    font-family: 'poppins', sans-serif;
}
.first-container{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #f94a13;
}
.logo{
    flex-basis: 20%;
}
.logo img{
    width: 150px;
    margin-left: -60px;
    margin-top: -10px;
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 3px 20px;
    margin-bottom: 20px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: 1s;
}
.item{
    position: absolute;
    display: flex;
    color: #fff;
}
.one{
    top: 480px;
    right: 250px;
}
.two{
    top: 250px;
    left: 460px;
    transform: rotate(-90deg);
}
.there{
    bottom: 480px;
    left: 200px;
    transform: rotate(-180deg);
}
.four{
    bottom: 240px;
    right: 470px;
    transform: rotate(-270deg);
}
.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.controls h3{
    margin: 15px 0;
    color: #fff;
}
#upBtn{
    width: 15px;
    cursor: pointer;
}
#downBtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}
.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
}
.food{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 1;
}

.second-container{
    width: 100%;
    height: 100vh;
    background: #f94a13;
}
.title{
    justify-content: center;
    display: flex;
    position: relative;
    top: 100px;
    color: #fff;
    font-size: 30px;
}
.foods{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}
.box{
    height: 350px;
    width: 300px;
    background: #000;
    margin-top: 200px;
}
.img1{
    height: 200px;
    width: 200px;
    margin-left: 40px;
}
.box a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 20px;
}
.hero-btn{
    border: 10px solid #000;
    border-radius: 50px;
    padding: 15px 34px;
    background: white;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    background: #f44336;
    transition: 1s;
}
.box p{
    display: flex;
    justify-content: center;
    color: #fff;
}

.third-container{
    width: 100%;
    background: #f94a13;
}
.title1{
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    color: #fff;
    font-size: 30px;
}
.process{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 100px;
    margin-left: 50px;
    position: relative;
    top: -30px;
}
.box1{
    height: 100px;
    display: flex;
    margin-top: 100px;
}
.box1 h4{
    margin-top: 100px;
    margin-left: -85px;
    color: white;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 30px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}